#Configuration file for our custom widget
<Connectivity>
  ConnectionType {{ connectionType }}
</Connectivity>

<Account Information>
  Username {{ userName }}
  Password {{ userPassword }}
</Account Information>

<System Information>
  Distributiontype {{ ansible_os_family }}
</system Information>

